[package]
authors.workspace      = true
categories             = ["command-line-utilities"]
description            = "The official command line client for interacting with the Miden network"
documentation          = "https://docs.rs/miden-client-cli/0.12.0"
edition.workspace      = true
keywords               = ["cli", "client", "miden"]
license.workspace      = true
name                   = "miden-client-cli"
readme                 = "README.md"
repository.workspace   = true
rust-version.workspace = true
version                = "0.12.4"

[[bin]]
name = "miden-client"
path = "src/main.rs"

[dependencies]
# Workspace dependencies
miden-client              = { features = ["tonic"], path = "../../crates/rust-client", version = "0.12" }
miden-client-sqlite-store = { package = "miden-client-sqlite-store", path = "../../crates/sqlite-store", version = "0.12" }

# External dependencies
clap               = { features = ["derive"], version = "4.5" }
comfy-table        = { version = "7.1" }
dirs               = { version = "6.0" }
figment            = { features = ["env", "toml"], version = "0.10" }
miette             = { workspace = true }
rand               = { workspace = true }
serde              = { features = ["derive"], version = "1.0" }
thiserror          = { workspace = true }
tokio              = { workspace = true }
toml               = { version = "0.9" }
tracing            = { workspace = true }
tracing-subscriber = { version = "0.3" }

[build-dependencies]
miden-client = { path = "../../crates/rust-client", version = "0.12" }

[dev-dependencies]
anyhow       = { workspace = true }
assert_cmd   = { version = "2.0" }
miden-client = { features = ["testing"], path = "../../crates/rust-client", version = "0.12" }
predicates   = { version = "3.0" }
regex        = { version = "1.0" }
serial_test  = { version = "3.0" }
uuid         = { features = ["serde", "v4"], version = "1.10" }

[lints]
workspace = true

[[test]]
name = "integration"
path = "tests/cli.rs"
