name: Dry Run Publish Rust Crates

on:
  push:
    branches: [main, next]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update Rust toolchain
        run: |
          rustup update --no-self-update

      - name: Dry run - publish (workspace)
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        run: cargo publish --workspace --dry-run
